.customize-control-ast-divider hr {
  margin-top: 12px; }
.customize-control-ast-divider .customize-control-title {
  font-size: 15px;
  margin: 1em 0 0.2em; }

.ast-field-settings-modal .customize-control-ast-divider {
  background-color: #f5f5f5;
  display: block;
  padding: 6px 14px;
  margin: 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #dddddd;
  line-height: 1;
  margin-top: 15px; }

.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-divider .customize-control-title {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 11px;
  margin: 0;
  text-transform: uppercase; }
