.customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha {
  display: none; }
  .customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha .astra-color-picker-wrap {
    margin-left: 2px;
    margin-top: -14px;
    background-color: #ffffff;
    border-radius: 4px; }
    .customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha .astra-color-picker-wrap .components-color-picker__saturation-black {
      border-radius: 4px 4px 0 0; }
    .customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha .astra-color-picker-wrap .components-color-picker__saturation-color {
      border-radius: 3px; }
    .customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha .astra-color-picker-wrap .components-color-picker__saturation-white {
      border-radius: 3px; }
  .customize-control-ast-responsive-color .customize-control-content .ast-color-picker-alpha.active {
    display: block; }
.customize-control-ast-responsive-color .customize-control-content .color-button-wrap {
  position: absolute;
  right: 24px;
  top: -4px; }
.customize-control-ast-responsive-color .customize-control-content .components-color-picker__saturation-color,
.customize-control-ast-responsive-color .customize-control-content .components-color-picker__saturation-white {
  border-radius: unset; }
.customize-control-ast-responsive-color .ast-responsive-btns {
  position: absolute;
  right: 0px;
  top: 6px; }

.ast-field-settings-modal .customize-control-ast-responsive-color .customize-control-content .color-button-wrap {
  right: 30px;
  top: -3px; }
.ast-field-settings-modal .customize-control-ast-responsive-color .customize-control-content .astra-color-picker-wrap {
  margin-left: 0px;
  margin-bottom: 10px;
  margin-top: 10px; }
.ast-field-settings-modal .customize-control-ast-responsive-color .customize-control-content .customize-control-title {
  display: block;
  margin-bottom: 0px; }
.ast-field-settings-modal .customize-control-ast-responsive-color .ast-responsive-btns {
  right: 7px;
  top: 1px; }
.ast-field-settings-modal .customize-control-ast-responsive-color.customize-control:first-child {
  margin-top: 28px; }
.ast-field-settings-modal .customize-control-ast-responsive-color .ast-clear-btn-inside-picker.components-button {
  margin: 5px 20px 20px 10px; }
.ast-field-settings-modal .customize-control-ast-responsive-color .ast-color-btn-reset-wrap {
  top: 3.5px; }

@supports (-moz-appearance: none) {
  .ast-field-settings-modal .customize-control-ast-responsive-color .ast-color-btn-reset-wrap {
    top: 5.5px;
    right: 65px; }
  .ast-field-settings-modal .customize-control-ast-responsive-color .customize-control-content .color-button-wrap {
    right: 27px;
    top: -2px; } }
