/*
 Theme Name:   Astra Child
 Theme URI:    https://staging2.omgcommunity.no/omg
 Description:  Astra Child
 Author:       Daniel Ashton
 Author URI:   https://danielashton.co.uk
 Template:     astra
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, accessibility-ready
 Text Domain:  astra-child
*/

$black: #0d0d0d;
$purple : #5a37a6;
$dark-blue: #121926;
$grey: #777e8c;
$grey-blue: #2e4159;
$muted-grey: #3a3a3a;
$background-image: "images/background.jpg";
$blue-bg: "images/background-no-pyramid.jpg";
$mobile-bg: "images/mobile-background.jpg";
$quotes-images: "images/quotes.jpg";
$spirit-bg: "images/spiritual-background.jpg";
$stars: "images/trippin.jpg";
$roots: "images/roots.jpg";

html {
	scroll-behavior: smooth;
}

body {
	color:#fff;
}

h1.elementor-heading-title {
	
}

h1, .entry-content h1, .entry-content h1 a {
	font-size:1.4rem;
}

.entry .entry-content .event-tickets .tribe-tickets__tickets-form, .event-tickets .tribe-tickets__tickets-form, .entry .entry-content .event-tickets .tribe-dialog__wrapper.tribe-modal__wrapper--ar {
	background-color:$dark-blue !important;
}

.event-tickets .tribe-dialog__wrapper.tribe-modal__wrapper--ar {
	background-color:$black !important;
}

.entry .entry-content .event-tickets .tribe-tickets__tickets-title, .event-tickets .tribe-tickets__tickets-title, .entry .entry-content .event-tickets .tribe-tickets__form input[type=number].tribe-tickets__tickets-item-quantity-number-input, .event-tickets .tribe-tickets__form input[type=number].tribe-tickets__tickets-item-quantity-number-input, .entry .entry-content .event-tickets .tribe-tickets__tickets-footer-quantity-number, .entry .entry-content .event-tickets .tribe-tickets__tickets-footer-total-number, .entry .entry-content .event-tickets .tribe-tickets__tickets-footer-total-wrap, .event-tickets .tribe-tickets__tickets-footer-quantity-number, .event-tickets .tribe-tickets__tickets-footer-total-number, .event-tickets .tribe-tickets__tickets-footer-total-wrap, .event-tickets .tribe-dialog__wrapper.tribe-modal__wrapper--ar .tribe-modal__content .tribe-tickets__tickets-footer-quantity, .tribe-common span, body.page-tribe-attendee-registration .event-tickets .tribe-tickets__registration-back-to-cart, body.page-tribe-attendee-registration .tribe-common .tribe-tickets__registration-back-to-cart , body.page-tribe-attendee-registration .event-tickets .tribe-tickets__mini-cart .tribe-tickets__tickets-item-content-subtitle, body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart .tribe-tickets__tickets-item-content-subtitle, body.page-tribe-attendee-registration .event-tickets .tribe-tickets__mini-cart a.tribe-tickets__tickets-footer-back-link, body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart a.tribe-tickets__tickets-footer-back-link, body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart a.tribe-tickets__tickets-footer-back-link:hover{
	color:#fff !important;
}

.event-tickets .tribe-tickets__tickets-footer {
	align-items:center;
}

body.page-tribe-attendee-registration .event-tickets .tribe-tickets__registration-back-to-cart:before, body.page-tribe-attendee-registration .tribe-common .tribe-tickets__registration-back-to-cart:before {
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053" !important;
}

.page-template {background-color:#000;}

.inner-consciousness h1, .inner-consciousness h2, h2, .entry-content h2, .entry-content h2 a, h1.elementor-heading-title, h3.countdown {
	font-family: pirulen, sans-serif !important;
	font-weight: 400;
	font-style: normal;
}

h1.elementor-heading-title {
	font-size:2.8rem;
}

.woocommerce-terms-and-conditions-checkbox-text a {color:$purple; text-decoration: underline;}

.ast-separate-container .ast-woocommerce-container {
	background-color:$dark-blue;
}

.elementor-238 .elementor-element.elementor-element-d592f40:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-238 .elementor-element.elementor-element-d592f40 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer

.inner-consciousness .small-heading {font-size:1.5rem;}

.inner-consciousness .wp-block-cover-image.has-background-dim:before, .inner-consciousness .wp-block-cover.has-background-dim:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .8;
}

.inner-consciousness .wp-block-cover-image.has-background-dim:before, .inner-consciousness .wp-block-cover.has-background-dim:before {
    content: "";
    background-color: #000;
}

.inner-consciousness .wp-block-buttons {margin-bottom: 1.75em;}

.inner-consciousness .promo {
	background-color:$black;
	background-image:url("/wp-content/uploads/2021/02/promo.jpg");
}

.inner-consciousness .promo figure {
	text-align:center;
}

.inner-consciousness .introduction {
	background-image:url("/wp-content/uploads/2020/11/alexander-popov-vCbKwN2IXT4-unsplash-scaled.jpg");
	background-attachment: fixed;
	padding:2em;
	margin-bottom:0;
}

.inner-consciousness .principles {
	background-image: url(/wp-content/uploads/2020/11/background-no-pyramid.jpg);
}

.inner-consciousness .bookings-press {
  background-image: url(/wp-content/uploads/2021/04/image5.jpg) !important;
  background-attachment:fixed;
}

.inner-consciousness .bookings-press:before {
	opacity:0.4 !important;
}

.inner-consciousness .bookings-press .wp-block-group__inner-container:before {
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right:0;
	background-color:$dark-blue;
	z-index:1;
	margin: 1rem;
}

.inner-consciousness .bookings-press .wp-block-group__inner-container h3, .inner-consciousness .bookings-press .wp-block-group__inner-container p {
	position: relative;
	z-index: 2;
}

.inner-consciousness .bookings-press .wp-block-group__inner-container h3:after {
    margin-top: 1rem;
    content: "";
    position: relative;
    background-color: $black;
    display: block;
    z-index: 2;
    width: 100%;
    height: 1px;
}

.inner-consciousness .bookings-press .wp-block-image {
	padding:2rem;
}

.inner-consciousness .bg-paralx {
	background-size: cover;
    background-position: top;
	position: relative;}

.inner-consciousness .bg-paralx:before {
	content: "";
    background-color: #000;
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .8;
}

.inner-consciousness .principles:before {display:none;}

.inner-consciousness .wp-block-columns.are-vertically-aligned-center {
	align-items:center;
	margin-bottom: 0;
	width:100%;
}

.inner-consciousness .bg-paralx .wp-block-group__inner-container, .inner-consciousness .bg-paralx .wp-block-cover__inner-container {
	padding: 1rem;
	position: relative;
	z-index:2;
}

.inner-consciousness .bookings-press .wp-block-group__inner-container {
	padding:2rem;
}

.inner-consciousness .bg-paralx .wp-block-column {
	position: relative;
	z-index:2;
}

.inner-consciousness .love h2 {
	font-size: 6rem;
	line-height: 3.55rem;
}

/* countdown styling */

.countdown-wrapper {
  height:100%;
  align-items: center;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.countdown {
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

h1.countdown {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size:1.5rem;
}

.countdown ul {margin:0;}

.countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 4.5rem;
}

.countdown .message {
  font-size: 4rem;
}

.countdown #content {
  display: none;
  padding: 1rem;
}

.countdown .emoji {
  padding: 0 .25rem;
}

@media all and (max-width: 768px) {
  .countdown h1 {
    font-size: 1.5rem;
  }
  
  .countdown li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  .countdown li span {
    font-size: 3.375rem;
  }
}

.test {
	background:none;
}

body, h1, .entry-title a, .entry-content h1, .entry-content h1 a, h2, .entry-content h2, .entry-content h2 a, h3, .entry-content h3, .entry-content h3 a, h4, .entry-content h4, .entry-content h4 a, h5, .entry-content h5, .entry-content h5 a, h6, .entry-content h6, .entry-content h6 a {
	color:#fff;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event {
	margin-bottom:1rem;
}

body.woocommerce-cart, body.woocommerce-checkout {
	background-color:$black;
}

.tribe-common h1, .tribe-common h2, .tribe-common h3, .tribe-common h4, .tribe-common h5, .tribe-common h6, .tribe-common p {
	margin-bottom:1rem;
}

.woocommerce-message, .woocommerce-info {
	border-top-color:$purple;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	background-color:$dark-blue;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	color:#fff;
}

.woocommerce-message::before, .woocommerce-info::before {
	color:$purple;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table,
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
	border-color: $black;
}

.woocommerce-cart .cart-collaterals .cart_totals, .woocommerce-cart .cart-collaterals .cross-sells {
	border-color:$black;
}

.woocommerce table.shop_table thead, .woocommerce-page table.shop_table thead {
	background-color:$dark-blue;
}

.woocommerce-cart .cart-collaterals .cart_totals>h2, .woocommerce-cart .cart-collaterals .cross-sells>h2 {
	background-color:$dark-blue;
	color: #fff;
	border-color:$black;
}

#add_payment_method .cart-collaterals .cart_totals tr td, #add_payment_method .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-checkout .cart-collaterals .cart_totals tr td, .woocommerce-checkout .cart-collaterals .cart_totals tr th {
	border-color:$black;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
   font-weight: 300;
}

h1, h2 {
	color:#fff;
}

h3, .entry-content h3, .entry-content h3 a {
	font-size: 1.686666rem;
}

.elementor .elementor-element.elementor-widget .elementor-image-box-wrapper .elementor-image-box-img {
	width:100%;
}

.principles h2 {
	text-transform: uppercase;
	font-size:2rem;
}

.principles .elementor-text-editor {
	min-height:0;
}

.main-header-menu .menu-item:hover > .menu-link, .main-header-menu .menu-item:hover > .ast-menu-toggle, .main-header-menu .ast-masthead-custom-menu-items a:hover, .main-header-menu .menu-item.focus > .menu-link, .main-header-menu .menu-item.focus > .ast-menu-toggle, .main-header-menu .current-menu-item > .menu-link, .main-header-menu .current-menu-ancestor > .menu-link, .main-header-menu .current-menu-item > .ast-menu-toggle, .main-header-menu .current-menu-ancestor > .ast-menu-toggle {
	color:$purple;
}

.main-header-menu .menu-link {color:#fff;}

.ast-header-break-point .main-navigation ul .menu-item .menu-link {
	background-color:$black;
}

.ast-cart-menu-wrap .count, .ast-cart-menu-wrap .count:after {
	border-color: $purple;
    color: $purple;
}

.ast-cart-menu-wrap:hover .count {
    color: #ffffff;
    background-color: $purple;
}

.home .site-header {
    z-index: 99;
    position: absolute;
    width: 100%;
}

.ast-header-break-point .ast-header-custom-item, .ast-header-break-point .main-header-menu {
	background-color: $dark-blue;
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .main-header-menu, .ast-header-break-point .main-navigation ul .menu-item .menu-link {
	border-color:$black;
}

.ast-header-break-point .main-navigation ul .menu-item .menu-link {
	color:white;
}

.menu-item .sub-menu {
	background-color:$black !important;
}

.menu-item .sub-menu li{
	border-bottom:1px solid #000;
}

.menu-item .sub-menu li a {
	transition: all .2s linear;
}

.menu-item .sub-menu li a:hover {
	color:$purple !important;
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children>.ast-menu-toggle::before {
	transform: rotateX(360deg);
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .ast-submenu-expanded>.ast-menu-toggle::before {
    transform: rotateX(180deg);
}

.ast-header-break-point .main-header-bar {
	border-bottom:none;
}

body.elementor-page-238:not(.elementor-motion-effects-element-type-background), body.elementor-page-238 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: $black;
}

.main-header-bar {
    background-color: transparent;
    border-bottom:none;
}

.elementor-238 .elementor-element.elementor-element-295cd6c:not(.elementor-motion-effects-element-type-background), .elementor-238 .elementor-element.elementor-element-295cd6c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url(#{$mobile-bg});
	background-position:  center center;
	min-height: 477px;
}

.elementor-238 .elementor-element.elementor-element-d494ec9:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap {
	background-image:none;
}

.quotes > .elementor-column-wrap {
	background-image: url(#{$quotes-images});
	background-attachment: scroll;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.elementor-238 .elementor-element.elementor-element-7a3d5c3:not(.elementor-motion-effects-element-type-background), .elementor-238 .elementor-element.elementor-element-7a3d5c3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url(#{$stars});
}

.elementor-238 .elementor-element.elementor-element-0025058:not(.elementor-motion-effects-element-type-background), .elementor-238 .elementor-element.elementor-element-0025058 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url(#{$roots});
}

.spiritualized:not(.elementor-motion-effects-element-type-background), .spiritualized .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url(#{$spirit-bg});
    background-position: top left;
    background-repeat: no-repeat;
}

.ast-header-break-point .site-branding img, .ast-header-break-point #masthead .site-logo-img .custom-logo-link img {
	max-width:50px;
}

.site-logo-img.desktop {
	display:none;
}

.site-logo-img.mobile {
	display:block;
}

.ast-separate-container, .woocommerce-account {
	background-color:$black;
}

.tribe-events-back a, .tribe-events-back a:visited {
	color:#fff;
	font-weight:normal;
}

.tribe-events-back a:selection {
	background-color: transparent;
}

.tribe-events .tribe-events-header,
.tribe-events .tribe-events-c-events-bar {
	background-color:$dark-blue;
}

.tribe-events .tribe-events-c-breadcrumbs__list-item-link,
.tribe-common .tribe-common-h3{
	color:#fff;
}

.tribe-common .tribe-common-svgicon--list {
	background-color:#ffffff;
}

.tribe-events .tribe-events-c-events-bar__search-button-icon {
	color:#ffffff;
}

.tribe-events .tribe-events-c-events-bar__search-button-icon {
	position: relative;
}

.tribe-events .tribe-events-c-events-bar__search-button-icon:before {
    content: "\f002";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font: normal normal normal 16px/1 FontAwesome;
    left:-5px;
    position:absolute;
    top:2px;
	color:#fff;
}

.tribe-events-c-top-bar__datepicker-mobile {
	position: relative;
	font-size:14px;
}

.tribe-events-c-top-bar__datepicker-mobile:before {
	content:"\f073";
	font: normal normal normal 16px/1 FontAwesome;
	color: #fff;
}

.tribe-events .tribe-events-header {
	padding:2rem;
	margin-top:2rem;
	margin-bottom:2rem;
}

.tribe-common .tribe-common-h7, .tribe-common .tribe-common-h8 {
	color:#fff;
}

.tribe-events .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime:after {
	background-color:$purple;
}

.tribe-events .tribe-events-calendar-list__event-date-tag-weekday {
	color:#fff;
}
.tribe-common .tribe-dialog__wrapper.tribe-modal__wrapper--ar
.tribe-common .tribe-common-h5, .tribe-common .tribe-common-h6 {
	color:#fff;
}

.tribe-dialog__content.tribe-modal__content .tribe-tickets__tickets-item-quantity-number {display:none;}

.tribe-dialog__content.tribe-modal__content .tribe-tickets__tickets-item {
	padding-left:14px !important;
	padding-right:14px !important;
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart .tribe-tickets__item__content__subtitle {
	color:#ffff;
}

#tribe-tickets__notice__attendee-modal, .tribe-events-meta-group-details .tribe-events-event-cost {display:none;}

.ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single, .ast-separate-container .ast-article-single:not(.ast-related-post) {
	background-color: $dark-blue;
}

.ast-article-single .wp-block-media-text__content h4:first-child {
	padding-top:4rem;
}

.ast-article-single .wp-block-media-text__content h1:nth-child(2) {
	padding-bottom:3rem;
}

.tribe-common .tribe-common-b2 {
	color:#fff;
}

.tribe-common .tribe-modal__content .tribe-common-h3 {display:none;}



.tribe-common a, .tribe-common a:active, .tribe-common a:focus, .tribe-common a:hover, .tribe-common a:visited {
	color:#fff;
}

.tribe-common .tribe-common-cta--thin-alt {
	color:#fff;
	background-color: #334aff;
	white-space: nowrap;
	padding: 11px 14px;
	font-size:14px;
}

.tribe-events .tribe-events-c-small-cta__stock {
	color:$purple;
}

.tribe-common .tribe-common-svgicon--featured {
	position: relative;
	background-image:none;
}

.tribe-common .tribe-common-svgicon--featured:before {
	content:"\f02e";
	font: normal normal normal 16px/1 FontAwesome;
    left:-5px;
    position:absolute;
    top:2px;
	color:$purple;
}

.tribe-events .tribe-events-calendar-list__event-date-tag {
	width: 102px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-datetime-featured-text {
	color:$purple;
}

.tribe-events .tribe-events-c-ical__link {
	color: $purple;
	border-color:$purple;
}

.tribe-events .tribe-events-c-ical__link {
	position: relative;
}

.tribe-events .tribe-events-c-ical__link:before {
	background-image:none;
	content:"\f067";
	font: normal normal normal 10px/1 FontAwesome;
    left:0x;
    position:relative;
    top:-1px;
	color:$purple;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-events-bar--border {
	background-color:$dark-blue;
}

.tribe-events .tribe-events-c-events-bar__search-container {
	background-color:$dark-blue;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input-group {
	margin:10px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-events-bar--border {
	border-color:#000;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input {
    padding: 10px 20px 10px 40px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__content {
	background-color:$dark-blue;
}


.tribe-events .tribe-events-c-view-selector__list-item-text {
	color:#fff;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-link:after {
	background-color:$purple;
}

.tribe-events .tribe-events-c-top-bar__datepicker-button {
	position: relative;
}

.tribe-events .tribe-events-c-top-bar__datepicker-button:after {
	background-image:none;
	content:"\f078";
	font: normal normal normal 10px/1 FontAwesome;
    left:0x;
    position:relative;
    top:-1px;
	color:$purple;
}

.single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-gcal:hover, .single-tribe_events a.tribe-events-ical, .single-tribe_events a.tribe-events-ical:hover {
	color: $purple;
}

.single-tribe_events .tribe-events-event-meta {
	background-color:$grey-blue;
}

a, .page-title {
	color:#fff;
}

a:hover, a:focus {
	color:$purple;
}

.tribe-common.tribe-tickets {
	background-color: $dark-blue;
}

.entry .entry-content .tribe-common .tribe-tickets__footer__quantity__number, .entry .entry-content .tribe-common .tribe-tickets__footer__total__number, .entry .entry-content .tribe-common .tribe-tickets__footer__total__wrap, .tribe-common .tribe-tickets__footer__quantity__number, .tribe-common .tribe-tickets__footer__total__number, .tribe-common .tribe-tickets__footer__total__wrap {
	color:#fff;
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__registration__back__to__cart {
	color:#fff !important;
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__registration__back__to__cart {
	position: relative;
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__registration__back__to__cart:before {
	content: "\f053" !important;
	font: normal normal normal 10px/1 FontAwesome;
    position:relative;
    top:-1px;
	color:$purple;
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__registration__actions {
    margin: 8px auto 8px !important;
}

.tribe-common .tribe-common-h2, .tribe-common .tribe-common-h5 {
	color:#fff;
}

.tribe-tickets__registration__page-title {display:none;} 

.tribe-common .tribe-dialog__wrapper .tribe-modal__wrapper--ar .tribe-common-h2, .tribe-common .tribe-dialog__wrapper .tribe-modal__wrapper--ar .tribe-common-h5 {
	color:#000;
}

.tribe-common .tribe-tickets__notice {
	background-color:transparent !important;
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart {
	background-color:$dark-blue !important;
	border-top: 1px solid $black !important;
}

.entry .entry-content .tribe-common .tribe-tickets__item, .tribe-common .tribe-tickets__item {
	border-color:$black;
}

.entry .entry-content .tribe-common .tribe-tickets__footer, .tribe-common .tribe-tickets__footer {
	border-color:$black;
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart {
	padding:24px;
}

.entry .entry-content .tribe-common .tribe-tickets__item__attendee__fields .tribe-ticket, .tribe-common .tribe-tickets__item__attendee__fields .tribe-ticket {
	border-color:$black;
	background:$dark-blue;
}

.tribe-common .tribe-tickets__item__attendee__fields .tribe-ticket:before,
.tribe-common .tribe-tickets__item__attendee__fields .tribe-ticket:after{
	display:none;
}

.entry .entry-content .tribe-common .tribe-tickets__item__attendee__fields .tribe-tickets-meta-label, .entry .entry-content .tribe-common .tribe-tickets__item__attendee__fields label, .tribe-common .tribe-tickets__item__attendee__fields .tribe-tickets-meta-label, .tribe-common .tribe-tickets__item__attendee__fields label {
	color:#fff;
}

.tribe-checkout-backlinks {
	padding: 0 2em;
    border-width: 0 2px 0;
    border-style: solid;
    border-color: transparent;
}

.woocommerce-page.woocommerce-checkout form #order_review_heading,
.woocommerce-page.woocommerce-checkout form #order_review {
	border-color:transparent;
}

// gallery
html:not(.touch) .gallery-image figcaption, .touch .gallery-image figcaption, .mfp-with-zoom .mfp-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0);
  padding: 1em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100% - 9em);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
}
html:not(.touch) .gallery-image figcaption:before, .touch .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:before, html:not(.touch) .gallery-image figcaption:after, .touch .gallery-image figcaption:after, .mfp-with-zoom .mfp-title:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
html:not(.touch) .gallery-image figcaption:before, .touch .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:before, html:not(.touch) .gallery-image figcaption:after, .touch .gallery-image figcaption:after, .mfp-with-zoom .mfp-title:after {
  right: 100%;
  bottom: 100%;
}
html:not(.touch) .gallery-image figcaption:after, .touch .gallery-image figcaption:after, .mfp-with-zoom .mfp-title:after {
  left: 100%;
  top: 100%;
}
html:not(.touch) .gallery-image figcaption.visible, html:not(.touch) .gallery-image:hover figcaption, .touch .gallery-image figcaption, .mfp-with-zoom .visible.mfp-title, .mfp-with-zoom.mfp-ready .mfp-title {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease 0.3s;
  transition: all 0.2s ease 0.3s;
}
html:not(.touch) .gallery-image figcaption.visible:before, html:not(.touch) .gallery-image:hover figcaption:before, .touch .gallery-image figcaption:before, .mfp-with-zoom .visible.mfp-title:before, .mfp-with-zoom.mfp-ready .mfp-title:before, html:not(.touch) .gallery-image figcaption.visible:after, html:not(.touch) .gallery-image:hover figcaption:after, .touch .gallery-image figcaption:after, .mfp-with-zoom .visible.mfp-title:after, .mfp-with-zoom.mfp-ready .mfp-title:after {
  opacity: 1;
}
html:not(.touch) .gallery-image figcaption.visible:before, html:not(.touch) .gallery-image:hover figcaption:before, .touch .gallery-image figcaption:before, .mfp-with-zoom .visible.mfp-title:before, .mfp-with-zoom.mfp-ready .mfp-title:before {
  right: -1.5em;
  bottom: -1.5em;
}
html:not(.touch) .gallery-image figcaption.visible:after, html:not(.touch) .gallery-image:hover figcaption:after, .touch .gallery-image figcaption:after, .mfp-with-zoom .visible.mfp-title:after, .mfp-with-zoom.mfp-ready .mfp-title:after {
  left: -1.5em;
  top: -1.5em;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  font-family: "Montserrat", sans-serif;
}

.register-btn {
    padding-top: 20px;
    padding-right: 55px;
    padding-bottom: 20px;
    padding-left: 55px;
}

.login-username, .login-submit {
	margin-right:4px;
}

.login-username label, .login-password label {
	display: block;
	width:100%; 
}

.form-fields, .login-form-btn-wrapper, .login-remember {
	display:flex;
	-webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
	flex-wrap: wrap!important;
	justify-content: center!important;
}

.forgot-password {
	width: 100%;
    text-align: center;
    display: block;
}

.flex {
	display: flex!important;
}

.justify-content-center {
	justify-content: center!important;
}

.flex-wrap {
	flex-wrap: wrap!important;
}


.ast-separate-container .error-404, .ast-separate-container .no-results  {
	background-color:$dark-blue;
}

.gallery {
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}
@media (min-width: 480px) {
  .gallery {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
@media (min-width: 1260px) {
  .gallery {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}

.gallery-image {
  position: relative;
  margin: 0;
  padding: 0;
}
.gallery-image:before, .gallery-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 16px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  will-change: border;
}
.gallery-image:after {
  border-width: 0;
}
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
html:not(.touch) .gallery-image {
  overflow: hidden;
}
html:not(.touch) .gallery-image:hover:before {
  border-width: 16px;
}
html:not(.touch) .gallery-image:hover:after {
  border-width: 32px;
}
.touch .gallery-image figcaption {
  top: auto;
  bottom: 2em;
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-bg {
  background-color: rgba(0, 0, 0, 0.9);
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 1;
}
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-with-zoom img.mfp-img {
  padding: 0;
}
.mfp-with-zoom .mfp-figure:after {
  top: 0;
  bottom: 0;
}
.mfp-with-zoom .mfp-container {
  padding: 0;
}
.mfp-with-zoom .mfp-content {
  overflow: hidden;
}
.mfp-with-zoom .mfp-bottom-bar {
  top: auto;
  bottom: 0;
  margin-top: 0;
}
.mfp-with-zoom .mfp-title {
  top: auto;
  bottom: 2em;
}

.mfp-arrow {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mfp-arrow:before, .mfp-arrow:after {
  margin: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  -webkit-transform: rotate(-45deg) translate(-50%, -100%);
          transform: rotate(-45deg) translate(-50%, -100%);
  opacity: 1;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.mfp-arrow:active {
  -webkit-transform: translateY(-50%) scale(0.95);
          transform: translateY(-50%) scale(0.95);
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:before, .mfp-arrow-left:after {
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.mfp-arrow-left:after {
  margin-left: 2rem;
}
.mfp-arrow-left:hover:before, .mfp-arrow-left:active:before {
  margin-left: 2rem;
}
.mfp-arrow-left:hover:after, .mfp-arrow-left:active:after {
  margin-left: 0;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:before, .mfp-arrow-right:after {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.mfp-arrow-right:after {
  margin-left: 2rem;
}
.mfp-arrow-right:hover:before {
  margin-left: 2rem;
}
.mfp-arrow-right:hover:after {
  margin-left: 0;
}

button.mfp-close {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
button.mfp-close:before, button.mfp-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
button.mfp-close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
button.mfp-close:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
button.mfp-close:hover:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
button.mfp-close:hover:after {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}
button.mfp-close:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

a {
  text-decoration: none;
  color: inherit;
}

[id=footer] {
  margin-top: 10vh;
  padding: 10vh 0;
  text-align: center;
}
[id=footer] .container {
  position: relative;
}
[id=footer] .container:before, [id=footer] .container:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  z-index: 10;
  border-top: 2px solid;
  width: 10%;
  margin-bottom: 10vh;
}
[id=footer] .container:after {
  left: auto;
  right: 20px;
}
[id=footer] * {
  display: block;
}
[id=footer] * + * {
  margin-top: 5vh;
}
[id=footer] .logo {
  font-weight: 600;
  font-size: 1.5em;
}
[id=footer] .copy {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-g-row--gutters>.tribe-common-g-col {
	padding-left:0.75em;
	padding-right:0.75em;
	padding-bottom:0.75em;
	width:100%;
}

.login-box {
	margin: 0 auto;
}

button:focus, .menu-toggle:hover, button:hover, .ast-button:hover, .button:hover, input[type=reset]:hover, input[type=reset]:focus, input#submit:hover, input#submit:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.menu-toggle, .ast-button, .ast-custom-button, .button, input#submit, input[type="button"], input[type="submit"], input[type="reset"] {
    color: #ffffff !important;
    border-color: #3a3a3a !important;
    background-color: #3a3a3a !important;
    border-radius: 0;
    padding-right: 55px !important;
    padding-left: 55px !important;
    font-family: inherit;
    font-weight: inherit;
}

.tribe-event-content .button-primary {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.single-tribe_events .tribe-events-single-event-title {
	color:#fff;
	padding-bottom: 1rem;
	font-family:pirulen,sans-serif!important;
	font-weight:normal;
}

.tribe-events-content p {
	color:#fff;
}

.tribe-events-single-event-description .wp-block-button {
	margin-bottom:1rem;
}

.tribe-events-single-event-description .wp-block-button a {
	border-bottom:0;
	color:#fff;
}

.tribe-common .tribe-dialog__close-button {
	background:none;
}

.tribe-events-schedule {display:none;}

.woocommerce-mini-cart, .woocommerce-mini-cart__total.total {color:#000 !important;}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-description {display:none !important;}

.tribe-common .tribe-dialog__wrapper.tribe-modal__wrapper--a {background-color:$dark-blue;}

#tribe-events-footer {display:none;}

.tribe-events-cal-links .tribe-events-gcal, .tribe-events-cal-links .tribe-events-ical {
	padding-left:0;
}

.woocommerce-page.woocommerce-checkout .woocommerce-order h2.woocommerce-column__title, .woocommerce-page.woocommerce-checkout .woocommerce-order h2.woocommerce-order-details__title, .woocommerce.woocommerce-checkout .woocommerce-order h2.woocommerce-column__title, .woocommerce.woocommerce-checkout .woocommerce-order h2.woocommerce-order-details__title {
	background:$black;
	border:0;
}

.pb-4 {
	padding-bottom:4rem,
}

.artist-preview figcaption {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 80%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
	display:none;
}

.artist-preview:hover figcaption {
	top: 50%;
    left: 50%;
    opacity: 1;
	cursor: pointer;
}

.artist-preview > a:before {
	content: "";
	display:none;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
	padding: 2rem;
}

.artist-preview:hover a:before {
	opacity:1;
}

.artist-preview figcaption:after {
	content:"... Click for more";
	display:block;
}

.actvities {
	background-color: #121926 !important;
}

.actvities:before {display:none;}

.wp-block-media-text__content a {
	color:$purple;
	text-decoration:underline;
}

.single-tribe_events .tribe-events-single .tribe-events-event-meta {
    color: #fff;
}

.this-wrapper {
	position: relative;
	height:236px;
}

.slideshow-wrapper .title {
	font-size:1rem;
}

.slideshow-wrapper {
  background: black;
  color: #fff;
  font-family: pirulen,sans-serif !important;
  position: static;
}
		  
.slideshow-wrapper .main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  overflow: hidden;
  z-index: 1;
  perspective: 400px;
  transition: opacity 0.3s;
}
.slideshow-wrapper .img {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
.slideshow-wrapper .title {
  display: block;
  position: absolute;
  width: 200%;
  top: 60%;
  left: -50%;
  transform: translateY(-100%);
  font-size: 1rem;
  text-align: center;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  opacity: 0;
  z-index: 5;
}
.slideshow-wrapper .info-container {
  position: absolute;
  left: 20%;
  top: 0;
  right: 20%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  z-index: 5;
}
.slideshow-wrapper .info-container h3 {
  font-size: 2.6em;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0 0 0.5em 0;
  padding: 0;
}
.slideshow-wrapper .info-container h4 {
  font-size: 1.7em;
  font-weight: 400;
  margin: 1.4em 0 0.8em 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.slideshow-wrapper .info-container h5 {
  font-size: 1.3em;
  font-weight: 300;
  margin: 1.5em 0 0.5em 0;
  padding: 0;
  text-transform: uppercase;
}
.slideshow-wrapper .info-container p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
.slideshow-wrapper .info-container a {
  color: #fff;
  text-decoration: none;
  opacity: 0.6;
  transition: all 0.3s;
}
.slideshow-wrapper .info-container a:hover {
  opacity: 1;
}
.slideshow-wrapper .main-container.loaded .loader-container {
  display: none;
}
.slideshow-wrapper .main-container.loaded .img,
.slideshow-wrapper .main-container.loaded .info-container {
  opacity: 1;
}
.slideshow-wrapper .main-container.loaded .title {
  opacity: 0;
}
.no-webp .slideshow-wrapper .main-container.loaded .img-1 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/04/20210418_140654.jpg);
  animation: kenburns-top 6s linear both reverse 0.5s, fade-out 2s ease-in forwards 5.5s;
  z-index: 5;
}
.webp .slideshow-wrapper .main-container.loaded .img-1 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/omg-slideshow/20210418_140654.webp);
  animation: kenburns-top 6s linear both reverse 0.5s, fade-out 2s ease-in forwards 5.5s;
  z-index: 5;
}
.no-webp .slideshow-wrapper .main-container.loaded .img-2 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/04/20210418_144143.jpg);
  animation: kenburns-bottom 6s linear both 5.5s, fade-out 2s ease-in forwards 10.5s;
  z-index: 4;
}
.webp .slideshow-wrapper .main-container.loaded .img-2 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/omg-slideshow/20210418_144143.webp);
  animation: kenburns-bottom 6s linear both 5.5s, fade-out 2s ease-in forwards 10.5s;
  z-index: 4;
}
.no-webp .slideshow-wrapper .main-container.loaded .img-3 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/04/Langhuset-arrangement-2-scaled-1.jpg);
  animation: kenburns-right 6s linear both reverse 10.5s, fade-out 2s ease-in forwards 15.5s;
  z-index: 3;
}
.webp .slideshow-wrapper .main-container.loaded .img-3 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/omg-slideshow/Langhuset-arrangement-2-scaled.webp);
  animation: kenburns-right 6s linear both reverse 10.5s, fade-out 2s ease-in forwards 15.5s;
  z-index: 3;
}
.no-webp .slideshow-wrapper .main-container.loaded .img-4 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/04/20210418_143231.jpg);
  animation: kenburns-left 6s linear both 15.5s, fade-out 2s ease-in forwards 20.5s;
  z-index: 2;
}
.webp .slideshow-wrapper .main-container.loaded .img-4 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/omg-slideshow/20210418_143231.webp);
  animation: kenburns-left 6s linear both 15.5s, fade-out 2s ease-in forwards 20.5s;
  z-index: 2;
}
.no-webp .slideshow-wrapper .main-container.loaded .img-5 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/04/20210418_153954.jpg);
  animation: kenburns-right 7s linear both reverse 20.5s, fade-out 3s ease-in forwards 24.5s;
  z-index: 1;
}
.webp .slideshow-wrapper .main-container.loaded .img-5 {
  background-image: url(https://omgcommunity.no/wp-content/uploads/2021/omg-slideshow/20210418_153954.webp);
  animation: kenburns-right 7s linear both reverse 20.5s, fade-out 3s ease-in forwards 24.5s;
  z-index: 1;
}
.slideshow-wrapper .main-container.loaded .title-1 {
  animation: focus-in-contract 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards 1.8s, text-blur-out 1.2s ease-in forwards 5.5s;
}
.slideshow-wrapper .main-container.loaded .title-2 {
  animation: focus-in-contract 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards 6.8s, text-blur-out 1.2s ease-in forwards 10.5s;
}
.slideshow-wrapper .main-container.loaded .title-3 {
  animation: focus-in-contract 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards 11.8s, text-blur-out 1.2s ease-in forwards 15.5s;
}
.slideshow-wrapper .main-container.loaded .title-4 {
  animation: focus-in-contract 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards 16.8s, text-blur-out 1.2s ease-in forwards 20.5s;
}
.slideshow-wrapper .main-container.loaded .title-5 {
  animation: focus-in-contract 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards 21.8s, text-blur-out 1.6s ease-in forwards 25.5s;
}
.slideshow-wrapper .main-container.loaded .info-container {
  opacity: 0;
  animation: slide-in-bottom 12s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards 26.5s;
}
/* ----------------------------------------------
 * Generated by Animista on 2017-12-10 16:42:7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
/**
 * ----------------------------------------
 * animation kenburns-bottom
 * ----------------------------------------
 */
@keyframes kenburns-bottom {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1.25) translateY(15px);
    transform-origin: bottom;
  }
}
/**
 * ----------------------------------------
 * animation kenburns-right
 * ----------------------------------------
 */
@keyframes kenburns-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 50%;
  }
  100% {
    transform: scale(1.25) translateX(20px);
    transform-origin: right;
  }
}
/**
 * ----------------------------------------
 * animation kenburns-left
 * ----------------------------------------
 */
@keyframes kenburns-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%;
  }
  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left;
  }
}
/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}
/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloaded {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
.loader-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 5;
}
.loader {
  width: 42px;
  height: 42px;
  margin-bottom: 10px;
  align-self: center;
  border-radius: 50%;
  background: whiteSmoke;
  box-shadow: 0px -10px 25px 0px #ffffff inset;
  background: linear-gradient(to right, #ffffff 50%, transparent 50%);
  opacity: 0.8;
  animation: rotate-center 0.7s infinite linear;
}
.loader:before {
  display: block;
  content: '';
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: black;
}

@media (max-width: 320px) {
	.bookings-press p.has-background {padding-left:0; padding-right:0;}
	
	.tribe-common .tribe-tickets__footer {
		display:block; 
		width: 100%; 
		text-align: center;
	}
	
	.woocommerce #content table.cart .button[name=apply_coupon], .woocommerce-page #content table.cart .button[name=apply_coupon] {padding:0.8rem !important;}
	
	.tribe-common .tribe-common-g-row--gutters>.tribe-common-g-col {
		padding-left:0;
		padding-right:0;
	}

}

@media (max-width: 544px) {
	.ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single {
		padding: 1.5em 0em;
		}
	.ast-separate-container .ast-article-single {
		padding: 1.5em 1em;
	}
	
}

@media (min-width: 544px) {
	.inner-consciousness .partners  {padding:1rem 3rem;} 
	.inner-consciousness .partners  h2  {margin-bottom:1rem;}
	.inner-consciousness .partners  .wp-block-column {margin:2rem; flex-basis:auto !important;} 
	.inner-consciousness .partners  .wp-block-group .wp-block-image {padding:2rem;}
	
	.this-wrapper {
		height:410px;
	}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size:2.3rem;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.elementor-238 .elementor-element.elementor-element-295cd6c:not(.elementor-motion-effects-element-type-background), .elementor-238 .elementor-element.elementor-element-295cd6c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-image: url(#{$background-image});
	}
	
	.site-logo-img.desktop {
		display:block;
	}

	.site-logo-img.mobile {
		display:none;
	}
	
	.ast-header-break-point .site-branding img, .ast-header-break-point #masthead .site-logo-img .custom-logo-link img {
		max-width: 244px;
	}
	
	.slideshow-wrapper .title {
	  top: 60%;
	  left: -50%;
	  font-size: 1.5rem;
	}
	
}

@media (min-width: 600px) {
		.inner-consciousness .bg-paralx .wp-block-group__inner-container, .inner-consciousness .bg-paralx .wp-block-cover__inner-container {
		padding:2rem;
	}
	
	.inner-consciousness .promo .wp-block-column:not(:only-child) {
		flex-basis:auto !important;
	}
	
	.inner-consciousness .artists .wp-block-columns {
		flex-wrap: nowrap;
	}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size: 1.75rem;
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.principles .elementor-text-editor {
		min-height:151px;
	}
	
	.principles h2 {
		font-size:1.7rem;
	}
	
	.ast-header-break-point .site-branding img, .ast-header-break-point #masthead .site-logo-img .custom-logo-link img {
		max-width: 314px;
	}

    .tribe-common--breakpoint-medium.tribe-common .tribe-common-g-row--gutters>.tribe-common-g-col {
		    width: 39.7%;
	}
	
	.inner-consciousness .partners  .wp-block-column {margin-left:5rem; margin-right:5rem;}
	
	.event-tickets .tribe-dialog__wrapper.tribe-modal__wrapper--ar .tribe-modal__content .tribe-tickets__tickets-item  {
		padding:12px;
	}
	
	.event-tickets .tribe-tickets__tickets-item-extra,
	.event-tickets .tribe-tickets__tickets-item-content-title.tribe-tickets--no-description {
		align-self:center;
	}
	
	.this-wrapper {
		height:590px;
	}
	
	.slideshow-wrapper .title {
	  top: 60%;
	  left: -50%;
	  font-size: 2rem;
	}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size: 2rem;
	}

}

@media (min-width: 782px) {
	.inner-consciousness .promo .wp-block-cover__inner-container .wp-block-column:first-child, .inner-consciousness .promo .wp-block-cover__inner-container .wp-block-column:nth-child(6)  {display:none;}
	
	.inner-consciousness h2 {font-size:1.6rem;}
	
	.inner-consciousness .partners .wp-block-column {
		margin:0;
	}
	
	.inner-consciousness .partners .wp-block-column:not(:first-child) {
		margin-left:2em;
	}
}

@media (min-width: 808px) {
	.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-date-tag {
		min-width: 90px;
		width: 11.111%;
	}
	
	.tribe-common--breakpoint-medium.tribe-common .tribe-common-g-row--gutters>.tribe-common-g-col {
		width: 42.7%;
	}
	
	.this-wrapper {
		height:600px;
	}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size: 2.2rem;
	}
}

@media (min-width: 922px) {
	.site-logo-img img {
		max-width: 360px;
	}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size: 2.5rem;
	}
}

@media (min-width: 960px) {
	body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart {
		border-color:$black !important;
	}
	
	.tribe-event-content {
		width:57%;
	}
	
	.inner-consciousness .promo .wp-block-cover__inner-container .wp-block-column:first-child, .inner-consciousness .promo .wp-block-cover__inner-container .wp-block-column:nth-child(6)  {display:block;}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size: 2.7rem;
	}
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.principles .elementor-text-editor {
		min-height:136px;
	}
	
	.principles h2 {
		font-size:2rem;
	}
	
	.menu-item .sub-menu li a {
		transition: all .2s linear;
	}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size: 2.8rem;
	}

}

// Large devices (desktops, 992px and up)
@media (min-width: 1024px) {
	.elementor-238 .elementor-element.elementor-element-295cd6c:not(.elementor-motion-effects-element-type-background), .elementor-238 .elementor-element.elementor-element-295cd6c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		min-height: 577px;
	}
	
	.this-wrapper {
		height: 675px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.elementor-238 .elementor-element.elementor-element-295cd6c:not(.elementor-motion-effects-element-type-background), .elementor-238 .elementor-element.elementor-element-295cd6c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		min-height: 677px;
	}
	
	.principles .elementor-text-editor {
		min-height:109px;
	}
	
	.site-logo-img img {
		max-width: 1920px;
	}
	
	.inner-consciousness .bg-paralx .wp-block-group__inner-container, .inner-consciousness .bg-paralx .wp-block-cover__inner-container, .inner-consciousness .bg-paralx .wp-block-cover__inner-container {
		padding:4rem;
	}
	
	.inner-consciousness .introduction .wp-block-group__inner-container {
		padding-bottom:1rem;
	}
	
	.inner-consciousness h2 {
    	font-size:2rem;
	}
	
	.artist-preview figcaption {
		display:block;
	}
	
	.artist-preview > a:before {
		display:block;
	}
	
	.this-wrapper {
		height: 795px;
	}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size: 3.4rem;
	}
}

// Extra Extra large devices (large desktops, 1200px and up)
@media (min-width: 1280px) {
	.elementor-238 .elementor-element.elementor-element-295cd6c:not(.elementor-motion-effects-element-type-background), .elementor-238 .elementor-element.elementor-element-295cd6c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		min-height: 692px;
	}
	
	.this-wrapper {
		height: 900px;
	}
	
	h1, .entry-content h1, .entry-content h1 a {
		font-size: 3.1rem;
	}

}

@media (min-width: 1536px) {
	.elementor-238 .elementor-element.elementor-element-295cd6c:not(.elementor-motion-effects-element-type-background), .elementor-238 .elementor-element.elementor-element-295cd6c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		min-height: 822px;
	}

}

@media (max-width: 599px) {
	.equal-height-wrap .wp-block-column:nth-child(2) > .wp-block-group, .principles .wp-block-column:first-child .wp-block-group {min-height:0 !important,}
}

