#customize-controls .customize-control-notifications-container {
  margin: 0; }

.customize-control-ast-background .screen-reader-text {
  top: initial; }
.customize-control-ast-background .background-container h4 {
  font-weight: normal; }
.customize-control-ast-background .background-attachment h4, .customize-control-ast-background .background-color h4, .customize-control-ast-background .background-position h4, .customize-control-ast-background .background-repeat h4, .customize-control-ast-background .background-size h4 {
  margin-bottom: 5px;
  margin-top: 10px; }
.customize-control-ast-background .background-color {
  margin-bottom: 12px; }
.customize-control-ast-background .background-repeat {
  margin: 15px 0 8px 0; }
.customize-control-ast-background .background-attachment .buttonset, .customize-control-ast-background .background-size .buttonset {
  display: flex;
  flex-wrap: wrap; }
.customize-control-ast-background .background-attachment .buttonset .switch-label, .customize-control-ast-background .background-size .buttonset .switch-label {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #555;
  padding: 2px 4px;
  margin-right: 15px;
  text-align: center;
  flex-grow: 1;
  transition: background-color 140ms linear; }
.customize-control-ast-background .background-attachment .buttonset .switch-label:last-child, .customize-control-ast-background .background-size .buttonset .switch-label:last-child {
  margin-right: 0; }
.customize-control-ast-background .background-attachment .buttonset .switch-input:checked + .switch-label, .customize-control-ast-background .background-size .buttonset .switch-input:checked + .switch-label, .customize-control-ast-background .background-attachment .buttonset .switch-input[checked="checked"] + .switch-label, .customize-control-ast-background .background-size .buttonset .switch-input[checked="checked"] + .switch-label {
  background-color: #f5f5f5;
  color: #565e67; }
.customize-control-ast-background .ast-bg-img-remove.components-button.is-link {
  width: 100%;
  border: 1px dashed #b4b9be;
  box-sizing: border-box;
  box-shadow: unset;
  padding: 9px 0;
  line-height: 1.6;
  margin-top: 10px;
  text-decoration: none; }
.customize-control-ast-background .ast-bg-img-remove.components-button.is-destructive:hover:not(:disabled) {
  color: #a02222;
  box-shadow: unset;
  border-color: #a02222; }
.customize-control-ast-background .more-settings {
  margin-top: 12px;
  display: inline-block;
  padding: 5px 0 5px 0;
  float: right; }
  .customize-control-ast-background .more-settings:focus {
    outline: 0;
    box-shadow: none; }
.customize-control-ast-background .arrow-icon {
  margin-left: 5px; }
.customize-control-ast-background .customize-control-title {
  display: block; }
.customize-control-ast-background .astra-color-picker-wrap {
  margin-top: 18px; }

.ast-field-settings-modal .customize-control-ast-background.customize-control:first-child, .ast-field-settings-modal .customize-control-ast-background.customize-control {
  margin-top: 28px; }
.ast-field-settings-modal .customize-control-ast-background .more-settings {
  margin-top: 6px; }
.ast-field-settings-modal .customize-control-ast-background .customize-control-content .ast-color-btn-reset-wrap {
  right: 59px; }
.ast-field-settings-modal .customize-control-ast-background .customize-control-content .color-button-wrap {
  right: 16px; }
.ast-field-settings-modal .customize-control-ast-background .astra-popover-tabs .ast-clear-btn-inside-picker.components-button {
  margin: 5px 20px 20px 10px; }
