.customize-control-ast-responsive-spacing {
  /* Unit Screen wrap */ }
  .customize-control-ast-responsive-spacing .customize-control-title {
    display: inline-block; }
  .customize-control-ast-responsive-spacing .ast-spacing-responsive-outer-wrapper {
    display: flex;
    position: relative; }
  .customize-control-ast-responsive-spacing .ast-spacing-input-item {
    margin-bottom: 0; }
  .customize-control-ast-responsive-spacing .ast-spacing-responsive-btns {
    display: block;
    text-align: center;
    line-height: 2;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 0 3px 3px 0; }
    .customize-control-ast-responsive-spacing .ast-spacing-responsive-btns > li {
      margin-bottom: 0;
      display: none;
      width: 35px;
      height: 26px; }
      .customize-control-ast-responsive-spacing .ast-spacing-responsive-btns > li.active {
        display: inline-block; }
    .customize-control-ast-responsive-spacing .ast-spacing-responsive-btns button[type="button"] {
      padding: 0;
      cursor: pointer;
      background: none;
      border: none;
      opacity: .75;
      outline: none;
      width: 100%;
      height: 100%; }
      .customize-control-ast-responsive-spacing .ast-spacing-responsive-btns button[type="button"] > i {
        font-size: 15px;
        margin-top: 1px;
        vertical-align: middle; }
  .customize-control-ast-responsive-spacing .input-wrapper.ast-spacing-responsive-wrapper {
    display: inline-flex; }
  .customize-control-ast-responsive-spacing .ast-spacing-responsive-units {
    position: absolute;
    transform: translateY(-100%);
    font-size: 11px;
    text-transform: uppercase;
    top: 0;
    right: 0; }
    .customize-control-ast-responsive-spacing .ast-spacing-responsive-units li.single-unit {
      display: inline-block;
      margin-left: 6px;
      width: 16px;
      text-align: center;
      user-select: none;
      opacity: 0.7; }
      .customize-control-ast-responsive-spacing .ast-spacing-responsive-units li.single-unit.active {
        text-decoration: underline;
        opacity: 1;
        color: #000000; }
  .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper {
    display: none; }
    .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper li {
      text-align: center;
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto; }
      .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper li input.ast-spacing-input {
        text-align: center;
        display: block;
        font-size: 12px;
        padding: 4px 0;
        width: 100%;
        height: 28px;
        border: 1px solid #dddddd;
        border-right-width: 0;
        box-shadow: none;
        padding-left: 11px; }
      .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper li .ast-spacing-connected {
        color: #1e8cbe; }
    .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper.active {
      display: flex; }
    .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper span.ast-spacing-title {
      text-transform: uppercase;
      font-size: 10px;
      opacity: .75; }
    .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link .ast-spacing-connected {
      display: none; }
    .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link.disconnected .ast-spacing-disconnected {
      display: none; }
    .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link.disconnected .ast-spacing-connected {
      display: block; }
    .customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link span {
      width: 35px;
      height: 26px;
      line-height: 26px;
      font-size: 14px;
      border: 1px solid #dddddd;
      background-color: #ffffff;
      border-radius: 3px 0 0 3px;
      border-right-width: 0; }
